@page "/CompPage"

@using eFeiras.Business.Feiras;
@using eFeiras.Shared.Comprador;
@using eFeiras.Business.Categorias;

<PageTitle>Feiras em curso</PageTitle>

<h3>Feiras em curso</h3>

<div style="width: 100%">
    <div class="card-deck">
        @if(Feiras == null)
        {
            <h5>Loading...</h5>
        }
        else
        {
            @foreach (Feira feira in Feiras)
            {
                <div class="col-md-5">
                    <FeiraCardComp Feira="feira" />
                    <div style="height: 16px"></div>
                </div>
            }
        }
    </div>
</div>

<style>
    .card-deck {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(auto, 6.5cm);
        grid-gap: 16px;
        width: 100%;
    }

    .col-md-5 {
        padding: 0;
        height: auto;/*220px;*/
        width: 95%;
    }
</style>

@code {
    private ICollection<Feira> Feiras = new eFeirasFacade().getFeirasEmCurso();
}
