<!--Este componente serve para mostrar o logotipo com a linha por baixo nas páginas.-->
<!--Logotipo da feira no canto superior esquerdo-->
<img src="Media/logo.png" alt="logotipo eFeiras" style="width: 100px">
<!--Para dar algum espaçamento entre o logotipo e a linha horizontal (não é a maneira mais correcta de o fazer)-->
<div style="height:15px"></div>
<!--Este hr é aquela linha que está por baixo do logotipo-->
<hr class="my-hr" />

<style>
    .my-hr {
        width: 100%;
        margin: 0;
        border: 0;
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
    }
</style>