@page "/"
@layout StartLayout
@inject NavigationManager NavigationManager

<PageTitle>Bem vindo</PageTitle>
<LogoOnTop></LogoOnTop>
<div align="center">

    <div id="fundo_formulario_start" align="center">
        <div style="font-size: 20px; padding-top: 20px; padding-bottom: 50px"><strong>LOGIN</strong></div>

        <!--Campo do email-->
        <div class="form-group row">
            <div class="container">
                <!--Ícone do boneco-->
                <div class="one">
                    <i class="fa fa-user icon" style="padding-top: 10px;"></i>
                </div>

                <!--Parte para o utilizador escrever-->
                <div class="two"> 
                    <div class="col-sm-10">
                        <InputText class="form-control" placeholder="Insira o seu e-mail"
                                    @bind-Value="@e_mail" />
                    </div>
                </div>
            </div>
        </div>

        <!--Campo da password-->
        <div class="form-group row" style="margin-top: 10px;">
            <div class="container" >
                <!--Ícone do cadeado-->
                <div class="one">
                    <i class="fa fa-lock" style="padding-top: 10px;"></i>
                </div>

                <!--Parte para o utilizador escrever-->
                <div class="two"> 
                    <div class="col-sm-10">
                        <InputText class="form-control" style="width=80%" type="password" placeholder="Insira a sua password"
                                    @bind-Value="@password" />
                    </div>
                </div>
            </div>
        </div>

        <!--Botões de iniciar sessão e criar conta-->
        <div style="margin-top: 15%;/*50px*/">
            <button class="mybtn" style="width: 70%" @onclick=@Test>Iniciar sessão</button> <br />
            <button class="mybtn" style="width: 70%; margin-top: 10px" @onclick=@ToCreateAccount>Criar conta</button>
        </div>
        
    </div>
    <!--Janela de popup usada quando necessário. Por exemplo, indica que a conta fornecida não existe.-->
    <Popup @ref="popupRef"/> 
    <!--<InputFile OnChange="HandleFileSelected" /> Para fazer o upload de um ficheiro-->
</div>

<style>
    #fundo_formulario_start {
        font-family: Economica;
        position: center;
        width: 293px;
        height: 322px;
        background: rgba(240, 240, 240, 0.44);
        border-radius: 25px;
        margin-top: 20px;
    }
</style>

@code {
    private string e_mail = "";
    private string password = "";

    private Popup? popupRef;


    void Test()
    {
        IEFeirasFacade ef = new eFeirasFacade();
        if (ef.existsEmail(e_mail)) // utilizador existe?
        {
            Utilizador user = ef.getUtilizadorWithEmail(e_mail);
            if (user.getPassword().Equals(password)) // a palavra passe é correcta?
            {
                CurrentUser.setCurrentUser(user); // serve para as outras páginas saberem quem é que está na sessão
                switch (user.getUserType())
                {
                    case 0: // administradores
                        break;

                    case 1: // Compradores
                        CarrinhoCompras.clear(); // faz refresh ao carrinho de compras
                        CarrinhoCompras.setComprador(user); // diz ao carrinho de compras quem tem sessão iniciada
                        NavigationManager.NavigateTo("CompPage"); // vai para a página inicial do comprador
                        break;

                    case 2: // vendedores
                        NavigationManager.NavigateTo("VendPage");
                        break;
                }
            }
            else
            {
                popupRef.Show("A palavra passe é incorrecta.", "Password inválida", "35%", "35%");
            }
        }
        else
        {
            popupRef.Show("Esta conta não existe", "Credenciais inválidas", "35%", "35%");
        }

    }

    void ToCreateAccount()
    {
        NavigationManager.NavigateTo("createaccount");
    }
    /*
     * Para guardar o ficheiro dado pelo utilizador noutra diretoria
    private string SelectedFileName { get; set; }
    private async Task HandleFileSelected(InputFileChangeEventArgs args)
    {
        var file = args.File;
        SelectedFileName = file.Name;
        MemoryStream ms = new MemoryStream();
        await file.OpenReadStream().CopyToAsync(ms);
        byte[] bytes = ms.ToArray();
        String path = Directory.GetCurrentDirectory().Replace('\\','/') + "/wwwroot/Media/uploads/test.png"; // para usar isto temos de fazer o using System.IO
        using var stream = File.Create(path);
        stream.Write(bytes, 0, bytes.Length);
        popupRef.Show(SelectedFileName , "Imagem", "35%", "35%");
    }*/
}