@page "/VendPage"

@using eFeiras.Business.Feiras;
@using eFeiras.Shared.Vendedor;

<h3>Feiras em Curso</h3>

<div class="iconBanca">
    <img class="iconImg" src="Media/icon_banca.png" alt="Ícone de Banca"> = Você tem banca nesta feira.
</div>

<div style="width: 100%">
    <div class="card-deck">
        @if(Feiras == null)
        {
            <h5>Loading...</h5>
        }
        else
        {
            foreach (Feira feira in Feiras)
            {
                <div class="col-md-4">
                    <FeiraCardVend Feira="feira" />
                </div>
            }
        }
    </div>
</div>

<style>
    .card-deck {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 16px;
        width: 100%;
    }

    .col-md-4 {
        padding: 0;
        height: auto;/*220px;*/
        width: 95%;
    }

    .iconBanca {
        padding: .3cm;
    }

    .iconImg {
        padding: .1cm;
        width: .7cm;
        height: .7cm;
    }
</style>

@code {
    private ICollection<Feira>? Feiras = new eFeirasFacade().getFeirasEmCurso();
}