@using eFeiras.Business.Produtos;
@using eFeiras.Business.Bancas;

@if(Produto != null)
{
    <tr class="prodCard">
        <td><img src="@Produto.getImg_path()" style="object-fit: cover; height: 50px; width: 70px; border-radius: 7px"/></td>
        <td>@Produto.getNome()</td>
        <td><a href="TODO_VER_DETALHES">Ver detalhes</a></td><!--TODO: Janela de detalhes do produto-->
        <td>@Produto.getPreco().ToString() €</td>
        <td><!--Só mostra o botão de apagar o producto se o utilizador actual for o dono da banca-->
            @if (VisitedBanca.getBanca().isOwner(CurrentUser.getCurrentUser()))
            {
                <button @onclick="DeleteProduct" style="height: 100%">
                    <i class="oi oi-trash"></i>
                </button>
            }
        </td>
    </tr>
}

<style>
    table .prodCard:not(:first-child):not(:last-child){
        border-top: 1px solid #ccc;
    }
    .prodCard{
        border-top: 5px;
        border-bottom: 5px;
    }

    td button {
        border: 0px;
    }
</style>

@code {
    [Parameter]
    public Produto? Produto { get; set; }

    [Parameter]
    public EventCallback Event { get; set; } // deve ser dada a função Refresh() da página 

    public void DeleteProduct()
    {
        // Esta função deve retirar o produto da banca bem como fazer essa cena na base de dados, 
        // deve também actualizar o estado da banca na interface gráfica
        IEFeirasFacade ef = new eFeirasFacade();
        ef.removeProdutoFromBanca(Produto, VisitedBanca.getBanca());

        Event.InvokeAsync(null);
    }

}