@inject NavigationManager NavigationManager 

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if(CurrentUserType != 0)
        {  
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@(CurrentUserType == 1 ? "CompPage" : "VendPage")" Match="NavLinkMatch.All">
                    <span class="fa fa-store icon" style="padding-right: 15px" aria-hidden="true"></span> Início
                </NavLink>
            </div>
        }
        @if(CurrentUserType == 1) // comprador
        {   
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ShoppingCart">
                    <span class="oi oi-cart" aria-hidden="true"></span> Carrinho de compras
                </NavLink>
            </div>
        }

        <div class="nav-item px-3" @onclick="Logout">
            <NavLink class="nav-link">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Sair
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private byte CurrentUserType = CurrentUser.getCurrentUser().getUserType();

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Logout()
    {
        VisitedBanca.setBanca(null);
        VisitedFeira.setFeira(null);
        CarrinhoCompras.clear();
        CreditCartInfo.clear();
        CurrentUser.setCurrentUser(null);
        NavigationManager.NavigateTo("");
    }
}
